
{% extends "base.html" %}
{% load static %}
{% block title %}
My Blog
{% endblock%}

{% block css_files %}
<link rel="stylesheet" href="{%static "blog/index.css"%}">
{% endblock %}

{% block content_blog %}
<header id="main-navigation">
    <h1><a href="">Fernando' Blog</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>
<section id="welcome">
    <header>
        <img src="" alt="Fernando - The Author Of This Blog">
        <h2>Fernando's Blog</h2>
    </header>
</section>
<p>Hi, Im Fernando and This is my portfolio</p>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href=""><img src="" alt="Mountain Hiking">
                <div class="post__content">
                    <h3>Mountain Hiking</h3>
                    <p>There's nothing like the views you get when hikinh in the mountains! And I wasn't even prepared for what happened whislist I was enjoying the view</p>
                </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What i do</h2>
    <p>I love programming, and I love the gym actually i go to the gym 6 time a week  </p>
    <p>
        My goal is to be a good programmer
    </p>
</section>

{% endblock %}